{% extends '/base.html' %}
{% block content %}
        
        <main>
          
        </main>
        <div class="modal" id="actModal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Fantasy ahora!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Prepara tu equipo para la fecha {{ronda}} del torneo apertura 2022</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                <a href="/fantasy" color="white">
                  <button type="button" class="btn btn-primary" id="btn-equipo">A tu equipo!</button>
                </a>
                  
              </div>
            </div>
          </div>
        </div>
        
        <script type='text/javascript'>
          $(document).ready(function(){
            setTimeout(function(){
              $('#actModal').modal('show');
              }, 500)
            
          });
        </script>
        
{% endblock %}