{% extends '/base.html' %}
{% block content %}

      
        <main class="container_select">
          <div id="sportmonks-widget" data-widget="livescore" data-info="0Y184yEsYD8tAeuGk5XA8H0X4/PZK+dZ4BYom3Vdie+yzfyok6I/72fAZk6sxtyGiYg+RJFkrcR5aKwDf6VEPQ5i2X0OXB606qw5H4EwDYSUy+c7mxGOp9CtC3VLYBPaWGws7gWG1We+U3GTzNQ81x9nX4TLnIOXa7M3C6dVM5e2wx4Zu4Nf8qFjmyb5ETXmnnMSv1cR7udMZVZe9P1VR5UIGcRLmoUDndQI45VAhE9WaH99kPrWjJM1Bo2aCcwYoiVWiBXd7rbxSyoAZv8Jxqi3bRcU8bSZT1uUqLDrbrqUeNAS4ORrJiHJvE1ZqUFsCfHq6GG3oAkpol9/kCEsYq5qh+oIVxw6HevmuoyEkwZHDaYOiKRZxGvgy3NuXn1kMEGAQ9fQmKELUvKdDjzsnfwwIs7WxWnqiqepXfyRjKRdqXqvG//yR7BKwi91JaKrJpo2uZi1j5D/k1XrzqtLqdkz+MBxSEz+LTqTTPiIAyQ7BwbCcs5iS4HRAiNzeQaej8FD7qi+vZSP49gFbp3rwvxnjHlVgdTyRMO2nw8crOVcks0I1jX7STS4CAyfngmZbf6gJOm/BjBKeXYCT4x+9AUamTpYwKcfuoEmkc5SD6IDLEE1QWS7vt/VRJFpcql7MuakhosmcGITX/zG2BRSlyh/OQW4TJIi5AUeFkS68iA="
         
            
        
       
       
        
        
		
		></div>


            
           
             
          
           
        </main>
        
        

        






      {% endblock %}